h1 {
    background-color: black;
    color: aqua;
    font-size: 250%;
    margin: 5px;
}
h2{
    background: purple;
    color: white;
    text-align: center;
    font-style: italic;
    font-weight: lighter;
    padding: 10px;
    margin: 5px;
}
h3{
    background-color: paleturquoise;
    color: purple;
    text-align: right;
    text-decoration: underline;
    padding: 10px;
    margin: 5px;
}

